{% load static %} <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}E-commerce Agrícola{% endblock %}</title>
    
    <script src="https://cdn.tailwindcss.com"></script>
    
    <script src="{% static 'js/tailwind-config.js' %}"></script>
</head>
<body class="bg-fondo text-tierra font-sans flex flex-col min-h-screen">

    <nav class="bg-agro text-white p-4 shadow-md">
        <div class="max-w-6xl mx-auto flex justify-between items-center">
            <a href="/" class="text-2xl font-bold tracking-wider">AgroMarket 🌱</a>
            <div class="space-x-4">
                <a href="#" class="hover:text-agro-light">Catálogo</a>
                <a href="#" class="hover:text-agro-light">Carrito (0)</a>
            </div>
        </div>
    </nav>

    <main class="flex-grow max-w-6xl mx-auto p-6 w-full">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="bg-tierra text-white text-center p-4 mt-auto">
        <p>&copy; 2026 Daniela Porto - Soluciones Tecnológicas para el Agro</p>
    </footer>

</body>
</html>